%h1
  Sign Up!
%h3
  Email:
  %input{type: 'text'}
%h3
  Confirm Email:
  %input{type: 'text'}
%h3
  First Name:
  %input{type: 'text'}
%h3
  Last Name:
  %input{type: 'text'}
%h3
  Password:
  %input{type: 'text'}
%h3
  Confirm Password:
  %input{type: 'text'}
%input{type: 'submit', action_name: 'create_user'}